.Signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    .signup__form{
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        width: 330px;
        padding: 3rem 0;

    }

    .signup__form-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn{
        padding: 1rem 3rem;
        font-size: 1rem;
    }
}

label{
    font-weight: 600;
}